<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do list's</title>
</head>
<body>
    <div>
<h1> {{ todolist.name }}</h1>
<h2>Tasks</h2>
<table>
    <thead>
    <tr>
        <th>Tasks</th>
        <th>Due Date</th>
    </tr>
</thead>
<tbody>
{% for item in todolist.items.all %}
    <tr>
        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
        <td>{{ item.due_date|date:"M d, Y" }}</td>
        </tr>
    {% endfor %}
</tbody>

</table>

</div>
</body>
</html>
