<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>
    <div>
<h1>My Lists</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Number of Items</th>
    </tr>
</thead>
<tbody>
    {% for todolist in todolist_list %}
    <tr>
        <td>{{ todolist.name }}</td>
        <td>{{ todolist.items.all|length }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>
</body>
</html>
